<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="GoogleAppIndexingWarning">

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/app_desc"
        android:extractNativeLibs="true"
        android:theme="@style/AppTheme">

        <!-- Plugin API version -->
        <meta-data
            android:name="plugin-api"
            android:value="${atakApiVersion}" />

        <meta-data
            android:name="app_desc"
            android:value="@string/app_desc" />

        <!-- Required for ATAK to discover the plugin -->
        <activity
            android:name="com.atakmap.app.component"
            android:exported="true"
            tools:ignore="MissingClass">
            <intent-filter android:label="@string/app_name">
                <action android:name="com.atakmap.app.component" />
            </intent-filter>
        </activity>

        <!-- Background Service for GPS Simulation -->
        <service
            android:name=".gpstracker.plugin.GpsSimulatorService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
